@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');


:root {
  --color-primary: rgba(0,119,182,0.9);
  --color-secondary: rgba(255,215,0,0.9);
  --color-secondary-transparent: rgba(255,215,0,0.7);
  
  --color-fg: rgba(24,49,83,0.9);

  --color-bg: rgba(255,255,255,0.9);
  --color-bg-almost-transparent: rgba(255, 255, 255, 0.2);
  --color-bg-alitle-transparent: rgba(255, 255, 255, 0.6);
  --color-bg-transparent: rgba(255,255,255,0.05);

  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Rubik Dirt', cursive;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html { 
  font-size: 50%;
  scroll-behavior: smooth;
}

body {
  background-image: url("./images/bg-ukraine-flag.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  box-sizing: border-box;  

  font-family: var(--font-primary);
  color: var(--color-fg);
}

h1,
h2,
h3 {
  font-family: var(--font-secondary);
  font-weight: 400;
}
h1 { font-size: 5rem; }
h2 { font-size: 5rem; }
h3 { 
  font-size: 2rem;
  margin: 1.5rem 0 1rem; 
}
.heading-secondary { 
  font-size: 3.5rem;
  font-family: var(--font-primary);
  font-weight: 700;
  margin-bottom: -0.25rem;
}
.section-header {
  text-align: center;
  background-color: var(--color-bg-almost-transparent);
  padding: 3.75rem 0;
}

.color-primary { color: var(--color-primary); }
.color-secondary { color: var(--color-secondary); }

.text-block {
  display: inline-block;
  margin: 0.5rem 0.75rem;
  padding: 0.5rem 2rem;
  font-weight: 700;
  color: var(--color-bg);
  background-color: var(--color-primary);
}
.text-block--secondary {
  color: var(--color-fg);
  background-color: var(--color-secondary);  
}


p {
  font-size: 1.6rem;
  text-align: justify;
  margin-bottom: 1.5rem;
}
.paragraph-highlighted {
  background-color: var(--color-secondary);
  font-size: 2rem;
  padding: 0.5rem 1rem;
}

.color-primary { color: var(--color-primary); }
.color-secondary { color: var(--color-secondary); }

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s;
}
.btn,
.contact-form-button {
  color: var(--color-bg);
  background-color: var(--color-primary);
  
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;

  padding: 0.75rem 1.25rem;
  margin: 0.5rem;
  
  display: inline-block;  
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25);
  min-width: fit-content;

  cursor: pointer;  
  border: none;
}
.btn-secondary {
  color: var(--color-fg);
  background-color: var(--color-secondary);
}
.btn:hover,
.btn:focus:not(:focus-visible) {
  outline: none;
  opacity: 0.8;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.25);
}

.container {
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-container {
  max-width: 95%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}

section {
  position: relative;
  box-shadow: 
    9px -10px 10px rgba(0, 0, 0, 0.25), 
    10px 15px 15px rgba(0, 0, 0, 0.8), 
    0px 20px 28px rgba(0, 0, 0, 0.8);
}

.section {
  max-width: 1100px;
  width: 100%;
  display: flex;
  font-size: 1.6rem;
  position: relative;
}
/* .section-content { width: 100%; } */


/* NAV */
.nav {
  position: absolute;
  top: 2rem;
  right: 2rem;

  font-size: 2rem;
  background-color: var(--color-secondary-transparent);
  box-shadow: 4px 7px 7px rgba(0, 0, 0, 0.25);
  width: fit-content;

  text-align: center;

  transition: all 0.2s;
  padding: 3rem 0.5rem;
}
.nav-right {
  background-color: var(--color-secondary);
  font-size: 2.5rem;
}
.nav:hover {
  background-color: var(--color-secondary);
}
.nav-item {
  margin: 0.25rem 0;
}
.nav-item-separator {
  font-size: 2rem;
}
.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}
.nav-link {
  display: block;
}
.nav-link:hover,
.nav-link:focus:not(:focus-visible),
.nav-item-active .nav-link {
  color: var(--color-primary);
}

.nav-link-text {
  font-family: var(--font-secondary);
  writing-mode: vertical-lr;
  text-orientation: upright;
  user-select: none;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 6.5rem;
  z-index: -5;
  opacity: 0;
  transition: opacity 0.2s ease;
  display: none;
}
.nav-link:hover + .nav-link-text {
  opacity: 1;
}
.nav-right .nav-link-text {
  display: block;
  left: -3.25rem;
}

.nav-icon {
  width: 100%;
}

.section .nav { padding: 1rem 0.5rem; }
.section .nav-item-separator { display: none; }


/* HERO ------------------------------------------ */
.hero {
  display: flex;
  flex-direction: column;

  max-width: 1100px;
  position: relative;
}
.hero-img,
.hero-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-content {
  background-color: var(--color-bg);
  padding: 4em 2rem;
}

.hero-img {
  background: var(--color-bg-almost-transparent);
  padding: 3rem;  
}
.hero-img-container {
  height: min(33vh, calc(95vw - 2 * 3rem));
  z-index: -5;

  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

}
.hero-img img {
  display: block;  
  max-width: 100%;
  max-height: 100%;
}

.hero-buttons {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  width: 100%;
}
.hero-buttons .btn {
  width: 100%;  
}

@keyframes fadeInAnimation {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* SECTION SIDE SIDE NAV ----------------------------- */
.nav-bg {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-bg-almost-transparent);
  max-width: 15rem;
  min-width: 15rem;
  min-height: 55rem;
}
.nav-bg-img {
  display: block;
  width: 100%;
  padding: 1.75rem;
}
.nav-bg-img img {
  display: block;  
  max-width: 100%;
  /* mix-blend-mode: color-burn; */
  opacity: 0.7;
}
.nav-bg-icons {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}
.nav-bg-icon {
  display: block;
  width: 2.5rem;
  margin: 1rem
}
.nav-bg-icon img {
  display: block;
  max-width: 100%;
}
/* ------------------------------------- */




/* ABOUT ---------------------------- */
.about-content-container {
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
}

.about-buttons {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-buttons .btn {
  width: 100%;
}


/* PORTFOLIO ---------------------------- */
.portfolio-content-container {
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
}

/* CONTACT  ------------------------------------------ */
.contact-content-container {
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
}

.contact-column {
  width: 100%;
}
.contact-call,
.contact-find {
  margin-bottom: 3rem;
}
.contact-call-content,
.contact-find-content {
  display: flex;
  flex-wrap: wrap;
}
.contact-link {
  display: flex;
  align-items: center;
  margin: 1rem 2rem;
  white-space: nowrap;  
}

.contact-link:hover,
.contact-link:focus:not(:focus-visible) {
  color: var(--color-primary);
}

.contact-call-icon {
  font-size: 2.5rem;
  display: block;
  margin-right: 1rem;
}
.contact-find-icon {
  width: 3rem;
  margin-right: 1rem;
}
.contact-find-icon img {
  max-width: 100%;
}

/* contact form */
.contact-form {
  padding: 0 2rem;
}
.contact-form-section {
  margin: 1rem 0;
}
.contact-form-label {
  display: block;
  margin-bottom: 0.5rem;
}
.contact-form-input {
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  width: 100%;
  resize: none;
}

.contact-form button {
  width: 100%;
  margin: 1rem 0;
}

#submitMsg {
  display: none;
  padding: 0.5rem 1rem;
}
/* ---------------------------------- */

/* Media queries */

@media only screen and (min-width: 480px) {
  html { font-size: 62.5%; }

  .hero-buttons { flex-direction: row; }
  .about-buttons { flex-direction: row; }
}

@media only screen and (min-width: 800px) {
  .section-header { background-color: var(--color-bg-alitle-transparent); }
  .nav {
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--color-secondary);
    font-size: 2.5rem;
  }
  .nav-link-text { display: block; }
  
  .nav-bg { display: flex; }
  .section .nav { left: 4rem; }
  .section .nav { padding: 3rem 0.5rem; }
  .section .nav-item-separator { display: block; }
  

  .hero { flex-direction: row-reverse; }
  .hero-img { width: 50%; }
  .hero-img-container { height: auto; }  
  .hero-content { 
    width: 50%;
    padding: 6rem;
  }
  
  .contact-content-container { flex-direction: row; }

  .about-buttons { justify-content: flex-end; }
  .about-buttons .btn { width: 25rem; max-width: 40%; }
}

@media only screen and (min-width: 1100px) {
  .hero-img { padding: 5rem; }
  .hero-content { padding: 10rem 8rem; }
  
  .contact-content-container { padding: 5rem 3rem; }
}

/* * { outline: 1px solid red; } */